<?xml version='1.0' encoding='utf-8'?>
<widget id="making.app.feelnative" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>02-navigator</name>
    <description>
        Onsen navigator example
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
